@import "tailwindcss";

:root {
  --social-color: #a7a7a7;
  --background: #ffffff;
  --foreground: #171717;
  --active-social-color: #f46b5b;
  --input-background: rgb(208, 208, 210, 0.25);
  --text-custom-xl: 56px;
}

@theme inline {
  --color-social: var(--social-color);
  --color-hover-social: var(--active-social-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-input-background: var(--input-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-mont: var(--font-montserrat);
  --text-c1: var(--text-custom-xl);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.Hero-css .swiper,
.Hero-css .swiper .swiper-wrapper,
.Hero-css .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--active-social-color) !important;
  width: 32px !important;
  border-radius: 8px !important;
}

.pc-collection {
  background-image: url(/public/slider/pcgaming.jpg);
  width: 100%;
}
